---
import { Image } from "astro:assets";

interface Props {
  value: { href?: string; name: string };
  type?: string;
  rel?: string;
  classList?: string;
  solid?: boolean;
  outlined?: boolean;
  text?: boolean;
  prepandIcon?: ImageMetadata;
  appendIcon?: ImageMetadata;
}

const {
  value,
  type,
  rel,
  solid,
  outlined,
  text,
  classList,
  prepandIcon,
  appendIcon,
} = Astro.props;

let btnStartTag, btnCloseTag;
let btnClass = `btn btn-${solid ? "solid" : outlined ? "outlined" : "text"} ${classList || ""}`;

switch (type) {
  case "link":
  default:
    btnStartTag = `<a href="${value.href}" class="${btnClass} btn-link" rel="${rel || ""}"> `;
    btnCloseTag = "</a>";
    break;

  case "button":
    btnStartTag = `<button class="${btnClass}" type="submit">`;
    btnCloseTag = "</button>";
    break;
}
---

<Fragment set:html={btnStartTag} />

{prepandIcon && <Image src={prepandIcon} alt="Arrow Icon" class="btn__icon" />}

{value.name}

{appendIcon && <Image src={appendIcon} alt="Arrow Icon" class="btn__icon" />}

<Fragment set:html={btnCloseTag} />

<style lang="scss" is:global>
  .btn {
    --btn-cl: var(--cl-primary);
    --btn-cl-secondary: var(--cl-white);

    padding: 0.5rem 0.75rem;
    border-radius: var(--border-radius);

    &:hover {
      cursor: pointer;
      opacity: 0.75;
    }

    &-link {
      text-decoration: none;
    }

    &-solid {
      background-color: var(--btn-cl);
      color: var(--btn-cl-secondary);
    }
    &-outlined {
      background-color: var(--btn-cl-secondary);
      color: var(--btn-cl);
      border: var(--br-size) solid var(--btn-cl);
    }
    &-text {
      color: var(--btn-cl);
    }

    &__icon {
      padding: 0 0.25rem;
    }
  }
</style>
